<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Sorry we tricked you. Your Computer is SAFE!</h1>
  <p class="lead"> This is a student group from the University of Colorado Colorado Springs.</p>
  <hr class="my-4">
  <p>This is a student group from UCCS that is investigating how suceptiable people can be to phishing. Please take the survey bellow. Feel free to contact us at phishingprojectuccs@gmail.com</p>
  
</div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8Deh-uvpcU7aQdmVnbaA63KG94GQ7FA7KsMFosHNte3Vqjw/viewform?embedded=true" width="640" height="1166" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>




<br>


